
  <ion-header>
    <ion-toolbar>
      <ion-title>EaseSign</ion-title>
      <ion-item>
        <ion-icon name="search-outline" size="large" slot="start"></ion-icon>
        <ion-input placeholder="Filtra"></ion-input>
      </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item class="ion-text-center">
        <ion-icon name="person-outline" size="large" class="mr-2"></ion-icon>
        Comunidad
      </ion-item>
      <ion-item class="ion-text-center">
        <ion-icon name="book-outline" size="large" class="mr-2"></ion-icon>
        Vocabulario Esencial
      </ion-item>
      <ion-item class="ion-text-center">
        <ion-icon name="chatbox-outline" size="large" class="mr-2"></ion-icon>
        Comunicación Intermedia
      </ion-item>
      <ion-item class="ion-text-center">
        <ion-icon name="calculator-outline" size="large" class="mr-2"></ion-icon>
        Números Básicos
      </ion-item>
      <ion-item class="ion-text-center">
        <ion-icon name="globe-outline" size="large" class="mr-2"></ion-icon>
        Geografía
      </ion-item>
      <ion-item class="ion-text-center">
        <ion-icon name="person-outline" size="large" class="mr-2"></ion-icon>
        Comunidad
      </ion-item>
      <ion-item class="ion-text-center">
        <ion-icon name="book-outline" size="large" class="mr-2"></ion-icon>
        Vocabulario Esencial
      </ion-item>
      <ion-item class="ion-text-center">
        <ion-icon name="chatbox-outline" size="large" class="mr-2"></ion-icon>
        Comunicación Intermedia
      </ion-item>
      <ion-item class="ion-text-center">
        <ion-icon name="calculator-outline" size="large" class="mr-2"></ion-icon>
        Números Básicos
      </ion-item>
      <ion-item class="ion-text-center">
        <ion-icon name="globe-outline" size="large" class="mr-2"></ion-icon>
        Geografía
      </ion-item>
      <ion-item class="ion-text-center">
        <ion-icon name="person-outline" size="large" class="mr-2"></ion-icon>
        Comunidad
      </ion-item>
      <ion-item class="ion-text-center">
        <ion-icon name="book-outline" size="large" class="mr-2"></ion-icon>
        Vocabulario Esencial
      </ion-item>
      <ion-item class="ion-text-center">
        <ion-icon name="chatbox-outline" size="large" class="mr-2"></ion-icon>
        Comunicación Intermedia
      </ion-item>
      <ion-item class="ion-text-center">
        <ion-icon name="calculator-outline" size="large" class="mr-2"></ion-icon>
        Números Básicos
      </ion-item>
      <ion-item class="ion-text-center">
        <ion-icon name="globe-outline" size="large" class="mr-2"></ion-icon>
        Geografía
      </ion-item>
    </ion-list>
  </ion-content>

