ion-menu {
    --width: 80%;
  }
  
  ion-list {
    background-color: #0977dd;
  }
  
  ion-item {
    --padding-start: 25px;
    --padding-end: 23px;
    --padding-top: 12px;
    --padding-bottom: 20px;
    font-size: 26px;
    font-weight: 700;
  }